.banner-cont {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.banner-image {
    width: 100%;  /* Full width */
    display: block;
}
.content-container {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}
.about-challenge {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.challenge-text {
    font-family: sans-serif;
    span {
        font-size: 30px;
        font-weight: 800;
        color: #CC0033;
    }
}
.take-container {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}
.take-chl-card {
	border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.take-challenge-text {
    font-family: sans-serif;
    span {
        font-size: 18px;
        font-weight: 800;
        color: #CC0033;
    }
}
.download-text {
    font-size: 10px;
    font-weight: 800;
    color: #212121;
    padding-left: 18px;
}
.app-padding {
    padding: 12px 0px;
}
.sign-up-content {
    hr {
        flex: 1; /* Take up remaining space */
        height: 1px; /* Line height */
        background-color: #ccc; /* Line color */
    }
    span {
        padding: 0 26px;
        font-size: 10px;
        font-weight: 500;
        color: #212121;
    }
}
.campaign-input {
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 30px;
}
.campaign-input::placeholder {
    padding: 5px 20px;
    font-size: 12px;
}
.scl-img-cls {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.scl-list-cont {
    display: flex;
    justify-content: space-between;
	border-radius: 8px;
    background-color: aliceblue;
}
.list-card {
    gap: 12px;
    padding-left: 16px;
}
.join-cls {
    text-align: center;
}
.list-cntn {
    padding: 5px;
}
.join-btn {
    background-color: transparent;  
    color: #CC0033;                    
    border: 2px solid #CC0033;          
    padding: 2px 10px;             
    font-size: 16px;                 
    cursor: pointer;                 
    border-radius: 8px;             
    transition: all 0.3s ease;
    font-size: 12px;
    font-weight: 500;
}
.scl-scl-name {
    max-width: 130px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 500;
    color: #212121;
}
.cam-list-item {
    margin: 8px 0px;
}
.no-records-div {
    height: 100px;
}
.clr-src {
    border-bottom: 2px solid #ea4e7571;          
    font-size: 14px;
    font-weight: 500;
    color: #ea4e7571;
    cursor: pointer;
}
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    z-index: 9999; /* on top of everything */
}